  <div class="offerListWrapper" *ngFor="let offer of offers">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{offer.title}}
          </mat-panel-title>
          <mat-panel-description>
            {{offer.company}}: {{offer.workingDay}} - {{offer.salaryRank}} (Prioridad: {{offer.priority}})
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card class="offerItemContainer">
          <mat-card-header>
            <div mat-card-avatar class="firmLogo"><img width="100%" height="auto" src="{{offer.companyPhoto ? offer.companyPhoto:'../../../../assets/img/Logos/3x/capazzitor_logo@3x.png'}}" alt="Company Logotype"></div>
            <mat-card-title>{{offer.title}}</mat-card-title>
            <mat-card-subtitle>Detalles: {{offer.company}} - {{offer.city}} - {{offer.salaryRank}}
            </mat-card-subtitle>
          </mat-card-header>
           <mat-card-content>
            Compañia: {{offer.company}}
            Localización: {{offer.city}}, {{offer.country}} 
            Categoría: {{offer.subcategoty}} ({{offer.category}})
            <br>
            <strong>Acerca de la oferta de trabajo:</strong>
            {{offer.workingDay}} - {{offer.salaryRank}} <br><br>
            <strong>Requisitos:</strong><br>
            Experiencia mínima: {{offer.experienceMin}} <br>
            Estudios mínimos: {{offer.studiesMin}} <br>
            <strong>+ Info: </strong><br>
            <p>{{offer.description}}</p>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
</div>

