  <div class="offerListWrapper" *ngFor="let offer of offers">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{offer.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{offer.workingDay}} - {{offer.salaryRank}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card class="offerItemContainer">
          <mat-card-header>
            <div mat-card-avatar class="firmLogo"></div>
            <mat-card-title>{{offer.title}}</mat-card-title>
            <mat-card-subtitle>{{offer.city}} - {{offer.salaryRank}}</mat-card-subtitle>
          </mat-card-header>
           <mat-card-content>
            {{offer.company}}
            {{offer.description}}
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
</div>

