<div class="headerContainer">
  <div class="background">
    <mat-toolbar class="mat-elevation-z8">
      <button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <!-- <button mat-menu-item routerLink="/home">
          <span>Inicio</span>
        </button> -->
        <button mat-menu-item routerLink="/offers">
            <span>Ofertas</span>
          </button>
        <button mat-menu-item routerLink="/meet-us">
          <span>Conocenos</span>
        </button>
        <button mat-menu-item routerLink="/news"  disabled="">
            <span>Eventos</span>
          </button>
      </mat-menu>
      <button class="account_button" mat-icon-button aria-label="Configuración de la cuenta de usuario" [matMenuTriggerFor]="userMenu">
        <mat-icon  *ngIf="!user">account_circle</mat-icon>
        <span *ngIf="user as user">
          {{user.displayName ? user.displayName : 'Inicia Sesión'}}
        </span>
        <img *ngIf="user as user" class="align-self-start mr-5 img-thumbnail rounded-circle img-size" src="{{(user.photoURL) ? user.photoURL : '../../../../../assets/img/dummy-user.png'}}" alt="{{user.displayName}}">
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item *ngIf="!user" routerLink="/login">
          <span>Iniciar sesión</span>
        </button>
        <button mat-menu-item *ngIf="!user" routerLink="/register">
          <span>Registrarse</span>
        </button>
        <button mat-menu-item *ngIf="user as user" routerLink="/dashboard">
          <span>Panel de Control</span>
        </button>
        <button mat-menu-item *ngIf="user as user" routerLink="/user-profile">
          <span>Perfil de Usuario</span>
        </button>
        <button mat-menu-item routerLink="/use-guides">
          <span>Guías de uso</span>
        </button>
        <button mat-menu-item *ngIf="user as user" routerLink="/forgot-password">
          <span>Recuperar contraseña</span>
        </button>
        <button mat-menu-item *ngIf="user as user" (click)="authService.SignOut()">
          <span>Salir</span>
        </button>
      </mat-menu>
    </mat-toolbar> 
  </div>
  <div class="logotype" routerLink="/home">
    <img src="../../../assets/img/Logos/3x/capazzitor_logo@3x.png" alt="Capazzitor: Portal de empleo para personas con diversidad (Imagen de nuestro logotipo)">
    <h6>Portal de empleo para personas <span>con diversidad</span></h6>
  </div>
</div>
