<div class="fooContainer">
  <div class="fooLinks">
    <div class="linksUp">
      <button mat-button>Política de privacidad</button>
      <button mat-button>Mapa del sitio</button>
      <button mat-button>Uso de cookies</button>
      <button mat-button>Contacto</button>
    </div>
    <div class="linksDown">
      <button mat-button>Accesibilidad</button>
      <button mat-button>Trabaja con nosotros</button>
      <button mat-button>Prensa</button>
      <button mat-button>Desarrollo web</button>
    </div>
  </div>
  <div class="cookies">
    <button mat-mini-fab aria-label="Cookie settings">
      <mat-icon>cookies</mat-icon>
    </button>
  </div>
  <p>Copyright ® 2023 Grupo 1</p>
</div>
