table {
    width: 100%;
}

.container {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

mat-panel-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-panel-title button {
  border-radius: 0.5em;
  background-color: red;
  font-weight:500;
  color: aliceblue;
}