.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: fit-content;
  background: linear-gradient(to bottom, #eb9130, transparent);
}
