<div class="servicesContainer">
  <h6>Servicios</h6>
  <div class="cardsContainer">
    <mat-card class="candidateCard">
      <mat-card-header>
        <div mat-card-avatar class="avatarImg"></div>
        <mat-card-title>Buscar empleo</mat-card-title>
        <mat-card-subtitle>Acceso a candidatos</mat-card-subtitle>
        <img mat-card-image src="../../../assets/img/disabled_girl.jpeg" alt="Miniatura de candidatos">
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
    <mat-card class="companyCard">
      <mat-card-header>
        <div mat-card-avatar class="avatarImg"></div>
        <mat-card-title>Ofertar puestos laborales</mat-card-title>
        <mat-card-subtitle>Acceso a empresas</mat-card-subtitle>
        <img mat-card-image src="../../../assets/img/disabled_girl.jpeg" alt="Miniatura de candidatos">
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>

