.example-margin {
    margin: 10px;
}
.slides-container {
  display: flex;
  flex-direction: row;
}
.roleSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.roleSelector select {
  border-radius: 0.5rem;
}