  <div class="offerListWrapper" *ngFor="let offer of offers">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <div class="innerColumn">
            <div class="titleRow">
              <div mat-card-avatar class="firmLogo"></div>
              <mat-panel-title>
                {{offer.title}}
              </mat-panel-title>
            </div>
            <mat-panel-description>
              {{offer.company}} / {{offer?.city}} / {{offer.autCommunity}}
            </mat-panel-description>
            <mat-panel-description>
              <mat-chip class="chip">{{offer.contractType}}</mat-chip>
              <mat-chip class="chip">{{offer.salaryRank}}</mat-chip>
              <mat-chip class="chip">{{offer?.workingDay}}</mat-chip>
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <mat-card class="offerItemContainer">
          <mat-card-header>
            <mat-card-subtitle>{{offer.description}}</mat-card-subtitle>
            <div class="innerRow">
              <mat-divider></mat-divider>
              <div class="actions">
                <button mat-stroked-button aria-label="Detalles oferta">
                 Ver oferta
                </button>
                <button mat-flat-button color="accent" aria-label="Subscribe">
                 Inscribirse
                </button>
              </div>
            </div>
          </mat-card-header>
           <mat-card-content>

          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
</div>

