.offerListWrapper {
  margin-top: 0.5rem;
}
mat-expansion-panel {
  background-color: #eb9130;
}
mat-expansion-panel-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 7rem;
  padding-top: 0.25rem;
}
.titleRow {
  display: flex;
  flex-direction: row;
}
mat-panel-title {
  font-weight: 500;
  color: rgba(255,255,255,1);
}
mat-panel-description {
  font-weight: 500;
  color: rgba(0,0,0,1);
}
.offerItemContainer {
  background-color: rgba(255,255,255,1);
  border-radius: 0.5rem;
}
.firmLogo {
  background-image: url('../../../../assets/img/Logos/3x/capazzitor_logo@3x.png');
  background-size: cover;
  background-color: rgba(255,255,255,1);
  background-position: center;
  max-width: 5rem;
}
mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70%;
  overflow: visible;

}

mat-card-header > button {
  max-height: 3rem;
}

mat-card-content {
  max-width: 70vw;
}
