  <div class="offerListWrapper" *ngFor="let offer of offers">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <div class="innerColumn">
            <div class="titleRow">
              <mat-icon>date_range</mat-icon>
              <mat-panel-title>
                {{offer.title}}
              </mat-panel-title>
            </div>
            <mat-panel-description>
              {{offer.company}} / {{offer?.city?.value}} / {{offer?.autCommunity?.value}}
            </mat-panel-description>
            <mat-panel-description>
              {{offer.contractType}} / {{offer?.salary?.currency}} - {{offer?.salary?.value}} {{offer?.salary?.grossNet}} {{offer?.salary?.period}} / {{offer?.workingDay}}
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <mat-card class="offerItemContainer">
          <mat-card-header>
            <div mat-card-avatar class="firmLogo"></div>
            <mat-card-title>{{offer.company}}</mat-card-title>
            <mat-card-subtitle>{{offer.description}}</mat-card-subtitle>
            <button mat-flat-button color="accent" aria-label="Detalles oferta">
              <mat-icon>read_more</mat-icon>
            </button>
          </mat-card-header>
           <mat-card-content>

          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
</div>

