.background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../../../../assets/img/pics/disabled_girl.jpeg);
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-size: cover;
    width: 100vw;
    min-height: 40rem;
    margin-top: -6rem;
  }
/*   .logotype > img {
    max-width: 75%;
  } */