<mat-toolbar>
    <button mat-icon-button aria-label="Menú de navegación" [matMenuTriggerFor]="menu" routerLink="">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button class="account_button" mat-icon-button aria-label="Configuración de la cuenta de usuario">
        <mat-icon>account_circle</mat-icon>
        <!-- <span>Nombre</span> -->
    </button>
</mat-toolbar> 