mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  /* background-color: transparent; */
}
.account_button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/** media query for mobile */
@media (min-width: 0px) and (max-width: 390px) {
  .logo {
      width: 1.3rem;
  }
  .logo-text {
      font-size: 1rem;
  }
}
