<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="firmLogo"></div>
    <mat-card-title>Administrativo con inglés nativo</mat-card-title>
    <mat-card-subtitle>Lorem ipsum, dolor sit amet skvjaskjvqksv</mat-card-subtitle>
    <mat-icon>read_more</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <span>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </span>
  </mat-card-content>
</mat-card>

