<app-header></app-header>
<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <form [formGroup]="restoreForm" (ngSubmit)="onRestoreSubmit()">
          <h3>Restaurar contraseña</h3>
          <p class="text-center">Por favor, introduce tu correo electrónico para solicitar la restauración de tu contraseña.</p>
          <div class="formGroup">
            <input type="email" class="formControl" formControlName="email" placeholder="Dirección de correo" #passwordResetEmail required>
          </div>
          <!-- Calling ForgotPassword from AuthService Api -->
          <!-- <div class="formGroup">
            <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
          </div> -->
          <input type="submit" value="Enviar correo de restauración" class="btn btnPrimary">
        </form>
        <div class="redirectToLogin">
          <span>¿Volver hacia atrás? <span class="redirect" routerLink="/login">Entrar</span></span>
        </div>
      </div>
    </div>
  </div>