<div class="container">
  <h2>Detalles Empresa:</h2>
  <br>
  <div *ngFor="let company of companies">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Empresa: <strong>{{company.nombreSocial}}</strong>
          Sector: <strong>{{company.sector}}</strong>
        </mat-panel-title>
        <mat-panel-description>
          CIF: <strong>{{company.cif}}</strong>
        </mat-panel-description>
      </mat-expansion-panel-header>
      Identificación Fiscal: <strong>{{company.nombreFiscal}}</strong> <br>
      Teléfono: <strong>{{company.telefono}}</strong> <br>
      Correo: <strong>{{company.email}}</strong> <br>
      Direcciones: <strong>{{company.direcciones}}</strong> <br>
      Estado de la empresa: <strong>{{company.estado}}</strong> <br>
      Proyección de la empresa: <strong>{{company.proyeccion}}</strong> <br>
      Nº de empleados: <strong>{{company.numeroEmpleados}}</strong> <br>
      Nº Ofertas: <strong>{{company.ofertas}}</strong>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>
