<mat-card class="example-card" *ngIf="error">
    Se ha producido un error, Inténtalo de nuevo más tarde.
  </mat-card>


  <form class="example-form" [formGroup]="editOfferForm" (ngSubmit)="onOfferFormSubmit()">
    <div class="form-inputs">      
      
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Título / Nombre</mat-label>
        <input matInput formControlName="title">
        
        <mat-error *ngIf="editOfferForm.get('title')!.invalid && (editOfferForm.get('title')!.dirty || editOfferForm.get('title')!.touched)">
          <span *ngIf="editOfferForm.get('title')!.getError('required')">Título / Nombre obligatorio</span>
        </mat-error> 
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tipo de Contrato</mat-label>
        <input matInput formControlName="contractType">
        
        <mat-error *ngIf="editOfferForm.get('contractType')!.invalid && (editOfferForm.get('contractType')!.dirty || editOfferForm.get('contractType')!.touched)">
          <span *ngIf="editOfferForm.get('contractType')!.getError('required')">Identificación obligatoria</span>
        </mat-error> 
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Días Laborales (Oferta)</mat-label>
        <input matInput formControlName="workingDay">
        
        <mat-error *ngIf="editOfferForm.get('workingDay')!.invalid && (editOfferForm.get('workingDay')!.dirty || editOfferForm.get('workingDay')!.touched)">
          <span *ngIf="editOfferForm.get('workingDay')!.getError('required')">Identificación obligatoria</span>
        </mat-error> 
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="description">
        
        <mat-error *ngIf="editOfferForm.get('description')!.invalid && (editOfferForm.get('description')!.dirty || editOfferForm.get('description')!.touched)">
          <span *ngIf="editOfferForm.get('description')!.getError('required')">Identificación obligatoria</span>
        </mat-error> 
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ciudad</mat-label>
        <input matInput formControlName="city">
        
        <mat-error *ngIf="editOfferForm.get('city')!.invalid && (editOfferForm.get('city')!.dirty || editOfferForm.get('lacation')!.touched)">
          <span *ngIf="editOfferForm.get('city')!.getError('required')">Identificación obligatoria</span>
        </mat-error> 
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Prioridad</mat-label>
        <input matInput formControlName="priority">
        
        <mat-error *ngIf="editOfferForm.get('priority')!.invalid && (editOfferForm.get('priority')!.dirty || editOfferForm.get('priority')!.touched)">
          <span *ngIf="editOfferForm.get('priority')!.getError('required')">Identificación obligatoria</span>
        </mat-error> 
      </mat-form-field>

      <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email">
        
        <mat-error *ngIf="editOfferForm.get('email')!.invalid && (editOfferForm.get('email')!.dirty || editOfferForm.get('email')!.touched)">
          <span *ngIf="editOfferForm.get('email')!.getError('required')">Identificación obligatoria</span>
        </mat-error> 
      </mat-form-field> -->

      <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Candidat@s Suscrit@s</mat-label>
        <input matInput formControlName="subscribedCandidates">
        
        <mat-error *ngIf="editOfferForm.get('subscribedCandidates')!.invalid && (editOfferForm.get('subscribedCandidates')!.dirty || editOfferForm.get('subscribedCandidates')!.touched)">
          <span *ngIf="editOfferForm.get('subscribedCandidates')!.getError('required')">Identificación obligatoria</span>
        </mat-error> 
      </mat-form-field> -->
          </div>
      <div class="buttons">
        <button mat-raised-button color="primary" type="submit">Guardar Oferta</button>
        <button mat-raised-button color="warn" routerLink="/back_office">Cancelar</button>
        <!-- <button *ngIf="id" mat-raised-button color="warn" (click)="onDelete()">Borrar</button> -->
    </div>
  </form>
