.offerListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 50vw;
  max-width: 90vw;
}
mat-accordion {
  margin-bottom: 0.5rem;
}
/*
mat-expansion-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
} 
 */