  <div class="offerListWrapper" *ngFor="let offer of offers">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{offer.name}}
          </mat-panel-title>
          <mat-panel-description>
          {{offer.description}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-suggest-card></app-suggest-card>
      </mat-expansion-panel>
</mat-accordion>
</div>

