<app-header></app-header>
<div class="meetUsContainer">
  <h3>Conoce a nuestro equipo</h3>

    <br>

    <h4>Miembros</h4>
    <a target="_blank" href="https://www.linkedin.com/in/imkevzamora/"><h5>Kev(in) Zamora Amela (Diseñador/Desarrollador)</h5></a>
    <a target="_blank" href="https://www.linkedin.com/in/arielisgtwebdev/"><h5>Ariel Gonzalez Tumasonis (Diseñador/Desarrollador)</h5></a>
    <a target="_blank" href="https://www.linkedin.com/in/eneko-galvan-249153259/"><h5>Eneko Galvan (Diseñador)</h5></a>
    

    <br>
    <div>
      <p>Capazzitor es un portal de trabajo que enfoca principalmente en personas que padezcan algún tipo de anomalía o "discapacidad".</p>
      <p>Como personas con diversidad funcional, sabemos mejor que nadie la enorme dificultad que presenta encontrar trabajo y más aún, un puesto de trabajo adaptado o que se pueda adaptar.</p>
      <p>El principal objetivo de esta plataforma consiste en ayudar a empresas y candidat@s, conectándol@s, en la tarea de encontrar un puesto de trabajo / encontrar personal cualificado.</p>
      <p>También se les proporciona a todos ellos eficaces herramientas para buscar lo que necesiten.</p>
    </div>

    <br>
    <h3>Servicios</h3>
      <div>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>Servicios para Cliente:</h4>
                </mat-panel-title>
                </mat-expansion-panel-header>
                <p> - Amplia gama de herramientas para buscar cualquier tipo de trabajo: <br><br>
                &nbsp;&nbsp;&nbsp;  <strong>- Creciente bolsa de ofertas de empleo</strong>, brindando la posibilidad de mediar entre candidat@ y empresa, de cara a la adecuada adaptación del puesto de trabajo en cuestión, para posibilitar su correcto desempeño por parte del candidat@ <br><br>
                &nbsp;&nbsp;&nbsp;  <strong>- Buscador de ofertas </strong><br><br>
                &nbsp;&nbsp;&nbsp;  <strong>- Interfaz intuitiva y accesible</strong><br><br>
                &nbsp;&nbsp;&nbsp;  <strong>- Gestión sencilla</strong> de los datos que conforman su perfil como candidat@<br><br>
                </p>
                </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>Servicios para Empresas:</h4>
                </mat-panel-title>
                </mat-expansion-panel-header>
                  <p> - Amplia gama de herramientas para buscar cualquier candidato: <br><br>
                  &nbsp;&nbsp;&nbsp;  <strong>- Gestión ágil y efectiva de las ofertas publicadas</strong>, focalizándose en atraer al talento presentado y aportado por las personas que conforman el colectivo de "personas con diversidad funcional"<br><br>
                  &nbsp;&nbsp;&nbsp;  <strong>- Herramientas específicas</strong> para la correcta gestión de l@s aspirantes suscrit@s, así como también de su perfil de empresa y de las ofertas en sí<br><br>
                  &nbsp;&nbsp;&nbsp;  <strong>- Plataforma de comunicación</strong> directa entre candidat@s y empresas<br><br>
                  &nbsp;&nbsp;&nbsp;  <strong>- Gestión sencilla de los datos que conforman su perfil como empresa </strong><br><br>
                </mat-expansion-panel>
          </mat-accordion>
      </div>
</div>

