<div class="meetUsContainer">
  <h3>Conoce a nuestro equipo</h3>

    <br>

    <h4>Miembros</h4>
    <a target="_blank" href="https://www.linkedin.com/in/imkevzamora/"><h5>Kevin Zamora (Diseñador/Desarrollador)</h5></a>
    <a target="_blank" href="https://www.linkedin.com/in/arielisgtwebdev/"><h5>Ariel Gomez (Diseñador/Desarrollador)</h5></a>
    <a target="_blank" href="https://www.linkedin.com/in/eneko-galvan-249153259/"><h5>Eneko Galvan (Diseñador)</h5></a>
    

    <br>
    <div>
      <p>Como personas con diversidad funcional, sabemos mejor que nadie la enorme dificultad que presenta encontrar trabajo y más aún, un puesto de trabajo adaptado o que se pueda adaptar.</p>
      <p>Capazzitor es un portal de trabajo que enfoca principalmente en personas que padezcan algún tipo de disfuncionalidad o discapacidad.</p>
      <p>El principal objetivo de esta plataforma consiste en ayudar a estos usuarios y propocionar ofertas de trabajo que se ajusten a sus capacidades y preferencias</p>
      <p>También se les proporciona a todos ellos eficaces herramientas para buscar lo que necesiten.</p>
    </div>
</div>
