<div class="meetUsContainer">
  <h5>Conócenos</h5>

  <app-team>
    <h2>Nuestro equipo</h2>
    <h5>Kevin Zamora (Diseñador/Desarrollador)</h5>
    <h5>Ariel Gomez (Diseñador/Desarrollador)</h5>
    <h5>Eneko Galvan (Diseñador)</h5>
  </app-team>

  <app-our-services>
    <p>Como personas con diversidad funcional, sabemos mejor que nadie la enorme dificultad que presenta encontrar trabajo y más aún, un puesto de trabajo adaptado o que se pueda adaptar.</p>
    
    <p>Capazzitor es un portal de trabajo que enfoca principalmente en personas que padezcan algún tipo de disfuncionalidad o discapacidad.</p>
    <p>El principal objetivo de esta plataforma consiste en ayudar a estos usuarios y propocionar ofertas de trabajo que se ajusten a sus capacidaddes y preferencias</p>
    <p>También se les proporciona a todos ellos eficaces herramientas para buscar lo que necesiten.</p>
  </app-our-services>
</div>
