
        <h1>Listado de Candidatos</h1>

        <div class="CandidateListWrapper" *ngFor="let candidate of candidate">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
                <!-- idCandidato Column -->
                <ng-container matColumnDef="idCandidato">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.idCandidato}} </td>
                </ng-container>
              
                <!-- nombre Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
              
                <!-- apellidos Column -->
                <ng-container matColumnDef="apellidos">
                  <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                  <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
                </ng-container>
              
                <!-- dni Column -->
                <ng-container matColumnDef="dni">
                  <th mat-header-cell *matHeaderCellDef> DNI </th>
                  <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
                </ng-container>

                <!-- telefono Column -->
                <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef> Telefono </th>
                    <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                  </ng-container>

                <!-- correo Column -->
                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef> Correo </th>
                    <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
                  </ng-container>

                <!-- direccion Column -->
                <ng-container matColumnDef="direccion">
                    <th mat-header-cell *matHeaderCellDef> Direccion </th>
                    <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
                  </ng-container>

                <!-- formacion Column -->
                <ng-container matColumnDef="formacion">
                    <th mat-header-cell *matHeaderCellDef> Formacion </th>
                    <td mat-cell *matCellDef="let element"> {{element.formacion}} </td>
                  </ng-container>

                <!-- ofertas Column -->
                <ng-container matColumnDef="ofertas">
                    <th mat-header-cell *matHeaderCellDef> Ofertas </th>
                    <td mat-cell *matCellDef="let element"> {{element.ofertas}} </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

