<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Entrar / Login</h3>
        <div class="formGroup">
          <input
            type="email"
            class="formControl"
            placeholder="Introduce tu correo electrónico"
            #userEmail
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Introduce tu contraseña"
            #userPwd
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="button"
            class="btn btnPrimary"
            value="Sign Up"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
          />
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
      <div class="redirectToLogin">
        <span
          >Ya tienes una cuenta?
          <span class="redirect" routerLink="/sign-in">Entrar</span></span
        >
      </div>
    </div>
  </div>