<div class="teamContainer">
  <h6>Quiénes somos</h6>
    <div class="aboutUsContainer">
      <mat-card class="aboutUsCard">
        <mat-card-header>
          <mat-card-title>Conéctate con las empresas líderes</mat-card-title>
          <mat-card-subtitle>Te ayudamos a encontrar de forma efectiva un puesto laboral</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/mercedes_logo.png" alt="Foto team">
        <mat-card-content>
          <p>
          Si necesitas dar agilidad a tus procesos de contratación y encontrar al candidato ideal que encaje al 100% con tus expectativas y las del puesto ofrecido, no dudes en consultarnos.</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-stroked-button color="accent">Saber más</button>
        </mat-card-actions>
      </mat-card>


  </div>

</div>
