<app-header></app-header>
<div class="displayDashboard">
  
  <div class="container-fluid">
    <div class="row">

      <main role="main" class="px-4">
        <div class="inner-adjust">
          <div class="row">
            <div class="col-md-12" *ngIf="user as user">
              <div *ngIf="user.role === 'admin'">
                <app-admin-dashboard></app-admin-dashboard>
              </div>
              <div *ngIf="user.role === 'candidate'">
                <app-candidate-dashboard></app-candidate-dashboard>
              </div>
              <div *ngIf="user.role === 'company'">
                <app-company-dashboard></app-company-dashboard>
              </div>
            </div>
          </div>
        </div>
      </main>
      
    </div>
  </div>
</div>
